<router-outlet></router-outlet>
<div class="header">
  <h1 class="text-center">
    {{title}}!
  </h1>
  <div class="overlay">
  </div>
</div>
<div class="container">
  <div class="row mt-3 mb-3" style="background: #eee">
      <div class="left-box
                  col-sm-8">
          <h4 class="pt-3
                     pb-3">Region: {{data.oblast}}
          </h4>
      </div>
      <div class="left-box
                  col-sm-4">
          <h4 class="pt-3
                     pb-3">Time: {{time}}s
          </h4>
      </div>
  </div>
  <div class="left-box">
    <div class="row">
      <div class="col-sm-8">
            <input class="w-100
                          p-3
                          mb-3"
                    ng2-auto-complete
                    [source]="data.ponudjene"
                    placeholder="City"
                    auto-complete-placeholder
                    [(ngModel)]="cityName"
                    max-num-list="10" />
          <input type="submit"
                  value="{{btnText}}"
                  (click)="addCity()"
                  class="btn
                         btn-primary
                         btn-block
                         pt-3
                         pb-3" />
      </div>
      <div class="col-sm-4">
        <h4>Ubaceni gradovi:</h4>
        <ul class="list-group">
            <li class="list-group-item"
                *ngFor="let city of addedCities; let i = index"
                >
              {{i+1}} - {{ city }}
              <span
                style="float: right"
                (click)="removeCity(i)">
                X
              </span>
            </li>
        </ul>
        <a routerLink="/result">
          <button class="btn
                         btn-danger
                         btn-block
                         mt-3
                         pt-3
                         pb-3"
                  (click)="btnClick()">
                  End Game
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
