.header {
  position: relative;
  background-image: url("../assets/bg.jpg");
  background-size: cover;
  min-height: 500px;
  background-position: center 35%;
  z-index: -1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(0,0,0,0.3);
}

.header .text-center {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  color: #222;
  background-color: rgba(245, 245, 245, 0.5);
  padding: 10px;
}
