body, html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

input[type="text"] {
  padding: 15px;
}
input[type="text"]:focus {
  outline: none;
}
.btn {
  border-radius: 0;
  outline: none;
  border: 0;
  box-shadow: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

span {
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

span:hover {
  color: indianred;
}

.btn:focused {
  outline: none;
}
