.result {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('../../assets/bg.jpg');
  background-size: cover;
}

.box {
  background-color: #f5f5f5;
  padding: 34px;
}
